@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
$gradiant: linear-gradient(
  90deg,
  rgba(250, 211, 228, 0.5) 0%,
  rgba(238, 174, 202, 0.5) 50%,
  rgba(148, 187, 233, 0.5) 100%
);
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 110vh;
  // border: 1px solid blue;
  margin: 0 auto;
  // overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
  // color: white;
  background: $gradiant;
  // border: 1px solid red;
  // animation: colorChange 10s ease infinite;
  // background-size: 400% 400%;
}

@keyframes colorChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.title {
  position: absolute;
  // font-weight: bold;
  font-size: 5vh;
  top: 9%;
}
