@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
$gradiant: linear-gradient(
  90deg,
  rgba(250, 211, 228, 0.5) 0%,
  rgba(238, 174, 202, 0.5) 50%,
  rgba(148, 187, 233, 0.5) 100%
);
// .notosanskr * {
//   font-family: "Noto Sans KR", sans-serif;
// }
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  height: 110vh;
  // border: 1px solid blue;
  margin: 0 auto;
  // overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
  // color: white;
  background: $gradiant;
  // border: 1px solid red;
  // animation: colorChange 10s ease infinite;
  // background-size: 400% 400%;
}

@keyframes colorChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.title {
  position: absolute;
  // font-weight: bold;
  font-size: 6vh;
  top: 4%;
  font-family: "Righteous", serif;
}
.arrows {
  // padding-top: 70px;
  position: relative;
  /* display: inline-block; */
  text-decoration: none;
  color: #000;
  // border: 1px solid;
  width: 15%;
  height: 10%;
  margin: -7% auto;
  cursor: pointer;
  z-index: 300;

  span {
    position: absolute;
    /* top: 0; */
    left: 38%;
    width: 36%;
    height: 95%;
    margin-left: -12px;
    border-left: 0.5vh solid darkgray;
    border-bottom: 0.5vh solid darkgray;
    transform: rotate(-45deg);
    animation: arrow 1.5s infinite;
    box-sizing: border-box;
  }
  @keyframes arrow {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #000;
    z-index: 1;
    transition: width 0.3s ease;
  }
  &:hover .fill {
    width: 100%;
  }
}
