@import "_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// font-family: 'Orbitron', sans-serif;
@font-face {
  font-family: "intelone-mono-font-family-regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.available {
  width: 90%;
  height: 110vh;
  border: 1px solid black;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  .pie-chart {
    position: absolute;
    // border: 1px solid black;
    width: 10vw;
    height: 21vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  img {
    position: absolute;
    width: 5vw;
  }
  .bg {
    position: relative;
    width: 70vw;
    height: 80vh;
    border: 1px solid rgba(128, 128, 128, 0.555);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    top: 21vh;

    .top {
      width: 100%;
      height: 11vh;
      border-bottom: 1px solid gray;
      display: flex;
      justify-content: space-between;
      .circle {
        display: flex;
        width: 24vw;
        height: 100%;
        // border: 1px solid red;
        justify-content: space-around;
        align-items: center;
        label {
          // border: 1px solid blue;
          position: relative;
          width: 4.8vw;
          height: 10vh;
          cursor: pointer;
          border-radius: 50%;
          text-align: center;
          line-height: 10vh;
          // transition: all 0.5s ease-in;
          font-size: 2.5vh;
          font-family: "intelone-mono-font-family-regular";

          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          input[type="radio"] {
            display: none;
            &:checked + span {
              color: #fff;
            }
            &:checked label {
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); // 마우스 호버시 그림자 효과 강화
            }
          }
          &:nth-child(1) {
            background: crimson;
          }
          &:nth-child(2) {
            background: orange;
          }
          &:nth-child(3) {
            background: green;
          }
        }
        .red_cicle {
          width: 4.8vw;
          height: 10vh;

          cursor: pointer;

          &:hover {
            width: 7vw;
          }
        }
        .orange_circle {
          width: 4.8vw;
          height: 10vh;
          background: orange;
          border-radius: 50%;
          text-align: center;
          line-height: 10vh;
        }

        .green_circle {
          width: 4.8vw;
          height: 10vh;
          background: green;
          border-radius: 50%;
          text-align: center;
          line-height: 10vh;
        }
      }
      .btn {
        // border: 1px solid black;
        width: 15vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .icon1,
        .icon2,
        .icon3 {
          width: 2vw;
          height: 4vh;
          cursor: pointer;
          // border: 1px solid black;
        }
        svg {
          width: 2vw;
          height: 4vh;
          font-weight: 400;
        }
      }
    }
  }
  ul li {
    p {
      line-height: 4.5vh;
      position: relative;
      font-size: 2vh;
      background: rgba(0, 0, 0, 0.7);
      border-radius: -11%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      font-family: "intelone-mono-font-family-regular";
      text-align: center;
      color: white;
      transition: all 0.5s ease-in;
      opacity: 0;
    }
  }
}
