@import "_reset.scss";

.available {
  width: 90%;
  height: 110vh;
  border: 1px solid black;
  margin: 0 auto;
  color: #fff;

  .circle1 {
    width: 10vw;
    height: 21vh;
    position: absolute;
    border-radius: 45%;

    animation: move1 5000ms infinite linear alternate;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  }
  .circle2 {
    width: 11vw;
    height: 22vh;
    position: absolute;
    border-radius: 43%;
    animation: move2 7000ms infinite linear alternate;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  }
  span {
    position: absolute;
    z-index: 10;
    font-size: 3vh;
    font-weight: 500;
  }
  .front {
    position: relative;
    left: 10vw;
    top: 28vh;
    cursor: pointer;
    .wave1 {
      background: rgba(255, 166, 0, 0.6);
      left: 35vw;
      top: 20vh;
      width: 13vw;
      height: 27vh;
    }
    .wave2 {
      background: rgba(255, 166, 0, 0.3);
      width: 14vw;
      height: 30vh;
      top: 18vh;
      left: 34.2vw;
    }
    span {
      top: 31vh;
      left: 37.5vw;
      font-size: 4vh;
    }
    .front_img {
      position: relative;
      .pic-chart1 {
        position: absolute;
      }
    }
  }
  .etc {
    cursor: pointer;
    position: absolute;
    top: -27vh;
    left: -10vw;

    .wave1 {
      background: rgba(0, 128, 0, 0.4);

      top: 285vh;
      left: 20vw;

      position: absolute;
      animation: move1 3000ms infinite linear alternate;
    }
    .wave2 {
      background: rgba(0, 128, 0, 0.3);
      position: absolute;
      top: 284vh;
      left: 19.5vw;
      animation: move1 7000ms infinite linear alternate;
    }
    span {
      top: 293vh;
      left: 24vw;
    }
  }
  .tool {
    cursor: pointer;
    position: absolute;
    top: 9vh;
    left: -53vw;
    .wave1 {
      background-color: rgba(0, 0, 255, 0.4);
      position: absolute;
      top: 285vh;
      left: 63vw;
      animation: move1 6000ms infinite linear alternate;
    }

    .wave2 {
      background-color: rgba(0, 0, 255, 0.3);
      position: absolute;
      top: 284vh;
      left: 62.2vw;
      animation: move1 9000ms infinite linear alternate;
    }
    span {
      top: 293vh;
      left: 66.5vw;
    }
  }
  @keyframes move1 {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes move2 {
    0% {
      transform: rotate(360deg);
    }
    25% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
