@import url(../style/_reset.scss);
@font-face {
  font-family: "intelone-mono-font-family-regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.etc_img {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  // border: 1px solid red;
  ul {
    width: 100%;
    height: 90%;
    display: flex;
    /* justify-content: space-between; */
    position: relative;
    /* top: 3vh; */
    margin: 0 auto;
    /* top: 20vh; */
    // border: 1px solid green;
    flex-wrap: wrap;
    flex-direction: row;
    li {
      // border: 1px solid red;g
      width: 50%;
      font-family: "intelone-mono-font-family-regular";
      display: flex;
      align-items: center;
      .pie-chart {
        margin-top: 5%;
        margin-left: 2%;
        .mongo {
          top: 2%;
        }
      }
    }
  }
}
