.footer {
  width: 100%;
  height: 65vh;
  background-color: rgb(202, 201, 201);
  color: white;
  .all {
    // border: 1px solid black;
    width: 80%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    .contact {
      width: 100%;
      position: relative;
      height: 65%;
      background-color: #fff;
      /* margin: 2% auto; */
      padding: 2%;
      top: 8%;
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 2rem;
        // border: 1px solid;
        width: 30%;
        color: black;
      }
      form {
        // border: 1px solid black;
        width: 80%;
        display: flex;
        justify-content: space-between;
        .user {
          display: flex;
          // border: 1px solid red;
          width: 40%;
          flex-direction: column;
        }
        .msg {
          display: flex;
          // border: 1px solid green;
          width: 55%;
          flex-direction: column;
          button {
            position: relative;
            bottom: 0;
            width: 53%;
            margin: 0 auto;
            border: 10%;
            top: 5%;
            left: 25%;
            height: 17%;
            border-radius: 3rem;
            border: none;
            cursor: pointer;
            &:hover {
              background-color: black;
              color: white;
            }
          }
        }
        input {
          width: 100%;
          height: 25%;
          background: none;
          border: none;
          border-bottom: 0.05rem solid black;
          transition: all 0.3s ease-in;
          outline: none;
          &:focus {
            border-bottom: 0.1rem solid darkgray;
            font-size: 1rem;
          }
        }
        textarea {
          width: 100%;
          background: none;
          border: none;
          border: 0.05rem solid black;
          transition: all 0.3s ease-in;
          outline: none;
          resize: none;
          height: 80%;
          font-family: "Noto Sans KR", sans-serif;

          &:focus {
            border: 0.1rem solid darkgray;
            font-size: 1rem;
          }
        }
      }
    }
    .icon {
      // border: 1px solid;
      position: relative;
      margin: 7% auto;
      display: flex;
      height: 16%;
      text-align: center;

      /* bottom: 0; */
      flex-direction: column;
      ul {
        display: flex;
        // border: 1px solid black;
        width: 20%;
        position: relative;
        margin: 0 auto;
        height: 64%;
        justify-content: space-evenly;
        margin-bottom: 1%;
        li {
          width: 20%;
          .svg-inline--fa {
            display: var(--fa-display, inline-block);
            height: 100%;
            overflow: visible;
            vertical-align: -0.125em;
          }
        }
      }
    }
  }
}
