@import url(../style/_reset.scss);
@font-face {
  font-family: "intelone-mono-font-family-regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
.front_img {
  position: relative;
  width: 70vw;
  height: 69vh;
  // border: 1px solid green;
  margin: 0 auto;
  ul {
    position: relative;
    width: 100%;
    /* left: 3vw; */
    height: 90%;
    margin: 0 auto;
    top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 4vw 6vh; */
    /* justify-content: space-around; */
    // border: 1px solid;
    li {
      // border: 1px solid;
      width: 50%;
      height: 33.5%;
      cursor: pointer;
      // border: 1px solid;
      .right {
        // border: 1px solid;
        top: 10%;
        left: 16%;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        .txt {
          font-size: 1vw;
          color: black;
          // left: 8%;
          position: relative;
          top: 7%;
          width: 88%;
          // border: 1px solid;
          line-height: 3.5vh;
        }
      }
    }
  }
}
