@import url("../style/_reset.scss");

@font-face {
  font-family: "GangwonEduHyeonokT_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yoonwoo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Yoonwoo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
// $black: #2a2927;
// $white: #fff;
// $bg: #fbf6e6;
// $face: #fdda5f;
// $face-shadow: #fd9744;
// $main-width: 12vw;
// $main-height: 24vh;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
.home {
  width: 90%;
  // border: 1px solid;
  margin: 0 auto;
  height: 110vh;
  position: relative;

  p {
    position: absolute;

    &:nth-child(1) {
      top: 25%;
      left: 12%;
      font-size: 5.5vw;
    }
    &:nth-child(2) {
      top: 45%;
      font-size: 7vw;
      left: 50%;
    }
    .line1 {
      position: absolute;
      border: 0.8vw solid #ffff00ab;
      top: 81%;
      // width: 100%;
      left: 0%;
      z-index: -1;
      animation: line 1s ease-in forwards;
      opacity: 0;
    }
    .line2 {
      position: absolute;
      border: 0.8vw solid #ffff00ab;
      top: 81%;
      left: 0%;
      z-index: -1;
      animation: line 1s ease-in forwards;
      animation-delay: 1s; /* line2 애니메이션에 대한 딜레이 설정 */
      opacity: 0;
    }
  }

  @keyframes line {
    0% {
      opacity: 1;
      width: 1%;
    }

    100% {
      opacity: 1;
      width: 100%;
    }
  }
  // #container {
  //   @include center;
  //   width: 12vw;
  //   height: 23vh;
  //   top: 47%;
  //   position: relative;
  //   left: 82%;
  // }

  // @keyframes eyeBlink {
  //   0%,
  //   30%,
  //   36%,
  //   100% {
  //     transform: scale(1);
  //   }
  //   32%,
  //   34% {
  //     transform: scale(1, 0);
  //   }
  // }
}
