@import url("../style/_reset.scss");

@font-face {
  font-family: "GangwonEduHyeonokT_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yoonwoo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Yoonwoo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.home {
  width: 90%;
  // border: 1px solid;
  margin: 0 auto;
  height: 110vh;
  position: relative;
  p {
    position: absolute;

    &:nth-child(1) {
      top: 25%;
      left: 12%;
      font-size: 5.5vw;
    }
    &:nth-child(2) {
      top: 45%;
      font-size: 7vw;
      left: 50%;
    }
  }

  .circle {
    position: absolute;
    /* top: 7%; */
    left: 13.5%;
    background-color: yellow;
    width: 2vw;
    height: 4vh;
    border-radius: 100%;
    animation: bounce 5s;
  }
  @keyframes bounce {
    0% {
      top: 20%;
    }
    15% {
      top: 15%;
      left: 22%;
    }
    20% {
      left: 25%;
      top: 20%;
    }
    25% {
      top: 13%;
      left: 35%;
    }
    30% {
      top: 20%;
      left: 45%;
    }
    40% {
      top: 43%;
      left: 51%;
    }
    50% {
      top: 38%;
      left: 58%;
    }
    60% {
      top: 43%;
      left: 66%;
    }
    70% {
      top: 35%;
      left: 75%;
    }
    80% {
      top: 60%;
      left: 90%;
    }
    90% {
      top: 40%;
      left: 90%;
    }
    100% {
      top: 60%;
      left: 90%;
      animation-timing-function: steps(16);
    }
  }
  // .ripple1 {
  //   position: absolute;
  //   // background-color: #3498db; /* 변경 가능 */
  //   border-radius: 50%;
  //   transform-origin: center;
  //   // animation: ripple 3s linear infinite;
  //   z-index: -1;
  //   width: 13%;
  //   height: 26%;
  //   top: 30%;
  //   left: 8%;
  //   .inner-ripple {
  //     position: absolute;
  //     background-color: yellow; /* 내부 원의 색상, 변경 가능 */
  //     border-radius: 50%;
  //     width: 100%;
  //     height: 100%;
  //     animation: ripple1 3s linear infinite;

  //     &.ripple-1 {
  //       animation-delay: -2s;
  //     }
  //   }
  // }

  // @keyframes ripple1 {
  //   0% {
  //     transform: scale(0);
  //     opacity: 1;
  //   }
  //   100% {
  //     transform: scale(2);
  //     opacity: 0;
  //   }
  // }
}
