@import url(../style/_reset.scss);

* {
  box-sizing: border-box;
}

.portfolio1 {
  width: 90%;
  height: 110vh;
  border: 1px solid;
  margin: 0 auto;
  overflow: hidden;
  .all {
    border: 1px solid red;
    /* top: 79vh; */
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 84vh;
    top: 19vh;
    top: 19vh;
    .scene {
      border: 1px solid #ccc;
      margin: 40px 0;
      position: relative;

      width: 800px;
      height: 500px;
      margin: 0 auto;
      top: 5vh;
      perspective: 1000px;
      z-index: 2;
    }

    .carousel {
      width: 100%;
      height: 100%;
      position: absolute;
      transform: translateZ(-288px);
      transform-style: preserve-3d;
      transition: transform 1s;
    }

    .carousel__cell {
      position: absolute;

      width: 800px;
      height: 500px;
      /*   left: 10px;
  top: 10px; */
      border: 2px solid black;
      line-height: 116px;
      font-size: 80px;
      font-weight: bold;
      color: white;
      text-align: center;
      transition: transform 1s, opacity 1s;
    }

    .carousel__cell:nth-child(6n + 1) {
      background: hsla(0, 100%, 50%, 0.8);
      transform: rotateY(0deg) translateZ(288px);
    }
    .carousel__cell:nth-child(6n + 2) {
      background: hsla(40, 100%, 50%, 0.8);
      transform: rotateY(60deg) translateZ(288px);
    }
    .carousel__cell:nth-child(6n + 3) {
      background: hsla(80, 100%, 50%, 0.8);
      transform: rotateY(120deg) translateZ(288px);
    }
    .carousel__cell:nth-child(6n + 4) {
      background: hsla(120, 100%, 50%, 0.8);
      transform: rotateY(180deg) translateZ(288px);
    }
    .carousel__cell:nth-child(6n + 5) {
      background: hsla(160, 100%, 50%, 0.8);
      transform: rotateY(240deg) translateZ(288px);
    }
    .carousel__cell:nth-child(6n + 6) {
      background: hsla(200, 100%, 50%, 0.8);
      transform: rotateY(300deg) translateZ(288px);
    }
    .btn {
      width: 100%;
      border: 1px solid green;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 41vh;
      .btn_icon {
        cursor: pointer;
      }
      svg.svg-inline--fa.fa-angle-left,
      svg.svg-inline--fa.fa-angle-right {
        height: 7vw;
        width: 3vw;
        color: gray;
      }
    }
  }
}
