@import url(../style/_reset.scss);

* {
  box-sizing: border-box;
}

.portfolio1 {
  // width: 90%;
  height: 110vh;
  // border: 1px solid;
  margin: 0 auto;
  overflow: hidden;
  .on {
    display: block;
    animation: open 0.5s ease-in;
  }
  .off {
    display: none;
  }
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #wrap {
    position: relative;
    width: 100%;
    height: 78%;
    perspective: 12000px;
    // border: 1px solid red;
    top: 16vh;

    #circle {
      width: 50%;
      height: 80%;
      position: relative;
      top: 12%;
      margin: 0 auto;
      transform-style: preserve-3d;
      transition: all 0.5s ease;
      /* animation: ani linear 40s infinite; */

      article {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        cursor: pointer;

        .inner {
          width: 100%;
          height: 100%;
          // background-color: rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);

          display: flex;
          position: relative;
          .txt {
            border-right: 1px solid rgba(128, 128, 128, 0.385);
            width: 40%;
            position: relative;
            h2 {
              position: absolute;
              font-size: 4vh;
              top: 20%;
              left: 1.5vw;
            }
            .stack {
              position: absolute;
              // border: 1px solid;
              top: 60%;
              left: 1.5vw;
              width: 85%;
              height: 35%;
              p {
                font-size: 3vh;
                margin-bottom: 3vh;
              }
              ul {
                display: flex;
                // border: 1px solid red;
                align-items: center;
                justify-content: space-around;
                li {
                  width: 33.333%;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
          .vid {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1),
              0 3px 6px rgba(0, 0, 0, 0.1);
            width: 45%;
            height: 85%;
            position: relative;
            margin: 0 auto;
            top: 7%;
          }
        }
        .content {
          position: relative;
          width: 110%;
          height: 120%;
          /* border: 1px solid; */
          /* margin: 0 auto; */
          top: -110%;
          left: -5%;
          background: white;

          border-radius: 2rem;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);

          .top {
            width: 100%;
            height: 12%;
            /* border: 1px solid; */
            border-radius: 2rem 2rem 0 0;
            background: lightgray;
            ul {
              width: 18%;
              // border: 1px solid;
              height: 45%;
              top: 30%;
              position: relative;
              left: 3%;
              display: flex;
              justify-content: space-around;
              li {
                width: 21%;
                border: 1px solid darkred;
                background-color: red;
                border-radius: 50%;
                &:nth-child(2) {
                  border: 1px solid darkorange;
                  background-color: orange;
                }
                &:nth-child(3) {
                  border: 1px solid darkgreen;
                  background-color: green;
                }
              }
            }
            .icon {
              width: 5%;
              // border: 1px solid;
              height: 60%;
              position: relative;
              left: 92%;
              top: -25%;

              .svg-inline--fa {
                height: 3em;
              }
            }
          }
        }
      }
      .face1 {
        transform: rotateY(0deg) translateZ(-764px);
      }

      .face2 {
        transform: rotateY(60deg) translateZ(-764px);
      }

      .face3 {
        transform: rotateY(120deg) translateZ(-764px);
      }

      .face4 {
        transform: rotateY(180deg) translateZ(-764px);
      }

      .face5 {
        transform: rotateY(240deg) translateZ(-764px);
      }

      .face6 {
        transform: rotateY(300deg) translateZ(-764px);
      }
    }

    .btn {
      width: 100%;
      position: absolute;
      top: 50%;
      z-index: 10;
      height: 10%;
      // opacity: 0;
      .btn_right::after {
        position: absolute;
        right: 10%;
        top: 2vh;
        content: "";
        cursor: pointer;
        width: 2.5vw;
        height: 5vh;
        border-top: 3px solid gray; /* 선 두께 */
        border-right: 3px solid gray; /* 선 두께 */
        transform: rotate(45deg); /* 각도 */
      }
      .btn_left::after {
        position: absolute;
        left: 10%;
        top: 2vh;
        content: "";
        cursor: pointer;
        width: 2.5vw;
        height: 5vh;
        border-top: 3px solid gray;
        border-right: 3px solid gray;
        transform: rotate(225deg);
      }
    }
  }
}
