@import url(../style/_reset.scss);
@mixin btnStyle {
  width: 2%;
  height: 90%;
  position: absolute;
  top: 50%;
  cursor: pointer;

  .svg-inline--fa {
    height: 3em;
  }
  &:active {
    color: gray;
  }
}

* {
  box-sizing: border-box;
}

.portfolio1 {
  width: 100%;
  height: 110vh;
  // border: 1px solid;
  margin: 0 auto;
  overflow: hidden;
  .title {
    position: relative;
    font-size: 5vh;
    /* z-index: 100; */
    // background: orange;
    top: 0;
    /* bottom: 0; */
    width: 15%;
    left: 5%;
  }
  .on {
    opacity: 1;
    height: 20;
    height: 100%;

    transition: 0.2s all ease;
  }
  .off {
    opacity: 0;
    height: 13%;
  }
  .scale_off {
    transform: scale(0.7);
    opacity: 0.5;
  }
  .scale_on {
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
  }

  .all {
    position: relative;
    width: 100%;
    height: 78%;
    // perspective: 60000px;
    // border: 1px solid red;
    top: 5%;

    #circle {
      width: 55%;
      height: 70%;
      position: relative;
      margin: 6% auto;
      transform-style: preserve-3d;
      transition: all 0.5s ease;
      animation: ani linear 40s infinite;

      article {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        // cursor: pointer;

        .inner {
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.8);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);

          display: flex;
          position: relative;
          transition: 0.5s all ease-in;
          .controll {
            // border: 1px solid;
            display: flex;
            width: 94%;
            height: 90%;
            margin: 2.5% auto;
            justify-content: space-between;
            .txt {
              width: 47%;
              position: relative;
              // border: 1px solid;
              h2 {
                position: relative;
                font-size: 3.5vh;
                top: 3%;
                left: 4%;
                font-weight: 400;
              }
              .detail {
                // border: 1px solid black;
                position: relative;
                margin: 8% auto;
                width: 95%;
                height: 83%;
                // overflow-y: scroll;
                font-size: 2vh;
                .content_title {
                  display: flex;
                  width: 100%;
                  justify-content: space-between;
                  font-weight: bold;
                  font-size: 2.5vh;
                }
                p {
                  text-align: right;
                }
                ul {
                  // margin-bottom: 12%;
                  // border: 1px solid;
                  width: 100%;
                  height: 48%;
                  li {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 4%;
                    width: 100%;
                    // height: 10%;

                    .content_title {
                      width: 25%;
                      color: darkgray;
                      font-size: 0.9rem;
                      font-weight: 400;

                      .svg-inline--fa {
                        display: var(--fa-display, inline-block);
                        height: 1.2em;
                        overflow: visible;
                        vertical-align: -0.125em;
                        margin-right: 11%;
                      }
                    }
                    .skills {
                      display: flex;
                      width: 62%;
                      flex-direction: row;
                      // border: 1px solid;
                      height: 100%;
                      flex-wrap: wrap;
                      text-align: center;
                      justify-content: space-between;

                      li {
                        justify-content: center;
                        width: 44%;
                        height: 100%;
                        border-radius: 1rem;
                        // border: 1px solid;
                      }
                      .html {
                        background: rgba(255, 166, 0, 0.5);
                      }
                      .css {
                        background: rgba(0, 0, 255, 0.5);
                      }
                      .js {
                        background: rgba(255, 255, 0, 0.5);
                      }
                      .react {
                        background: rgba(135, 207, 235, 0.5);
                      }
                      .scss {
                        background: rgba(255, 105, 180, 0.5);
                      }
                      .node {
                        background: rgba(0, 128, 0, 0.5);
                      }
                      .spring {
                        background: rgba(144, 238, 144, 0.5);
                      }
                      .mysql {
                        background: rgba(255, 127, 80, 0.5);
                      }
                    }
                  }
                }
                .bottom_txt {
                  // border: 1px solid;
                  width: 100%;
                  height: 52%;
                  overflow-y: scroll;

                  &::-webkit-scrollbar {
                    width: 0.5rem;
                    border-radius: 0 0 2rem 2rem;
                  }
                  &::-webkit-scrollbar-thumb {
                    border-radius: 0.125rem;
                    background-color: gray;
                  }
                  .introduce {
                    // margin-bottom: 8%;
                    transition: 0.5s all ease-in;
                    // padding-top: 4%;
                    height: 20%;
                    &::-webkit-scrollbar-track {
                      border-radius: 10px;
                      background-color: rgb(187, 25, 25);
                    }
                  }
                  .detail_txt {
                    line-height: 1.8;
                    margin-top: 3%;
                    transition: 0.5s all ease;
                    text-align: left;
                  }
                }
              }
            }
            .left {
              width: 50%;
              .vid {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1),
                  0 3px 6px rgba(0, 0, 0, 0.1);
                width: 100%;
                height: 65%;
                position: relative;
                /* margin: 6% auto; */
                /* left: 0%; */
                // border: 1px solid;
                top: 10%;
              }
              .icon {
                // border: 1px solid;
                width: 100%;
                height: 14%;
                display: flex;
                justify-content: space-evenly;
                margin-top: 18%;
                align-items: center;
                .svg-inline--fa {
                  height: 2.5em;
                }
              }
            }
          }
        }
      }
      .face1 {
        transform: rotateY(0deg) translateZ(-764px);
      }

      .face2 {
        transform: rotateY(60deg) translateZ(-764px);
      }

      .face3 {
        transform: rotateY(120deg) translateZ(-764px);
      }

      .face4 {
        transform: rotateY(180deg) translateZ(-764px);
      }

      .face5 {
        transform: rotateY(240deg) translateZ(-764px);
      }

      .face6 {
        transform: rotateY(300deg) translateZ(-764px);
      }
    }

    .btn_left {
      @include btnStyle;
      left: 10%;

      // border: 1px solid;
    }
    .btn_right {
      @include btnStyle;
      right: 10%;

      // border: 1px solid;
    }
  }
}
