@import url(../style/_reset.scss);

.portfolio2 {
  width: 90%;
  height: 110vh;
  // border: 1px solid black;
  margin: 0 auto;
  position: relative;

  #wrap {
    position: relative;
    width: 100%;
    height: 70%;
    // border: 1px solid red;
    margin: 0 auto;
    top: 22%;

    .menu {
      position: relative;
      display: flex;
      width: 44vw;
      height: 6vh;
      // border: 1px solid red;
      margin: 0 auto;
      justify-content: space-between;
      font-size: 2.5vh;
      color: gray;
      h3 {
        cursor: pointer;
      }
    }
    .point {
      color: black;
    }
    input[type="radio"] {
      display: none;
      // &:checked + h3 {
      //   color: black;
      // }
    }

    ul {
      // width: 100%;
      // border: 1px solid green;
      position: relative;
      margin: 0 auto;
      height: 80%;
      top: 12%;
      display: flex;
      // overflow: hidden;
      .img {
        position: absolute;
        // border: 1px solid;
        width: 100%;
        /* margin-left: 0vw; */
        /* top: 20%; */
        height: 100%;
        text-align: center;
        line-height: 55vh;
        font-size: 2vw;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
    }
  }
}
